html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header,
.contents,
.footer {
  width: 100%;
}

h2 {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  background-color: #f6aa00;
}

h2::after {
  content: '';
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  width: 0px;
  margin: 0 auto;
  border: 25px solid transparent;
  border-top-color: #f6aa00;
}

h3 {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  line-height: 50px;
  color: #ffffff;
  background-color: #ff8929;
}

h3 span {
  margin: 0 10px;
  font-size: 25px;
}

section {
  position: relative;
}

select {
  position: relative;
  display: inline-block;
  border: solid 1px #979797;
	font-size: 16px;
}

select, option {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #ffffff;
  border: none;
  -webkit-appearance: none;
　-moz-appearance: none;
　-ms-appearance: none;
  appearance: none;
  box-sizing: border-box;
}

textarea {
  font-family: "UDShinMGoPro";
}

/* -----------------------------------------------------------------------------
    header
----------------------------------------------------------------------------- */

.header {
  background-color: #ffffff;
}

.header h1 {
  float: left;
  margin: 0;
  padding: 0;
}

#check_1,
#check_2,
#check_3,
#check_4,
#check_5 {
  display: none;
}

#check_1:checked ~ .checkbox[for=check_1]::before,
#check_2:checked ~ .checkbox[for=check_2]::before,
#check_3:checked ~ .checkbox[for=check_3]::before,
#check_4:checked ~ .checkbox[for=check_4]::before,
#check_5:checked ~ .checkbox[for=check_5]::before {
  font-size: 12px;
  line-height: 12px;
  background-color: #979797;
}

.checkbox::before{
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border: solid 1px #979797;
}

/* ---------------------------------------------------
 SELECT
 -------------------------------------------------- */
.select {
  clear: both;
  position: relative;
}

.select_contents {
  margin: 50px auto;
  padding: 0;
  overflow: hidden;
}

.carousel_check {
  display: none;
}

#carouesel_list {
  position: relative;
  width: 1650px;
  left: 330px;
  margin: 0;
  padding: 0;
  font-size: 0;
  transition: 1s;
}

#carouesel_list li {
  display: inline-block;
  width: 320px;
  margin: 0 4px;
  border: solid 1px #9e9e9e;
}

.carouesel_bar {
  width: 120px;
  margin: 10px auto;
  padding: 0;
  font-size: 0;
  list-style-type: none;
}

.carouesel_bar li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  text-align: center;
  border-radius: 12px;
  background-color: #ff5a00;
}

.carouesel_bar label {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  background-color: #f6aa00;
}

#carousel_1_ctl_pc:checked ~ .carouesel_bar li label[for="carousel_1_ctl_pc"],
#carousel_2_ctl_pc:checked ~ .carouesel_bar li label[for="carousel_2_ctl_pc"],
#carousel_3_ctl_pc:checked ~ .carouesel_bar li label[for="carousel_3_ctl_pc"],
#carousel_4_ctl_pc:checked ~ .carouesel_bar li label[for="carousel_4_ctl_pc"],
#carousel_5_ctl_pc:checked ~ .carouesel_bar li label[for="carousel_5_ctl_pc"],
#carousel_1_ctl_sp:checked ~ .carouesel_bar li label[for="carousel_1_ctl_sp"],
#carousel_2_ctl_sp:checked ~ .carouesel_bar li label[for="carousel_2_ctl_sp"],
#carousel_3_ctl_sp:checked ~ .carouesel_bar li label[for="carousel_3_ctl_sp"],
#carousel_4_ctl_sp:checked ~ .carouesel_bar li label[for="carousel_4_ctl_sp"],
#carousel_5_ctl_sp:checked ~ .carouesel_bar li label[for="carousel_5_ctl_sp"]  {
  opacity: 0;
}

#carousel_1_ctl_pc:checked ~ #carouesel_list,
#carousel_1_ctl_sp:checked ~ #carouesel_list {
  transform: translateX(0);
}

#carousel_2_ctl_pc:checked ~ #carouesel_list,
#carousel_2_ctl_sp:checked ~ #carouesel_list {
  transform: translateX(-330px);
}

#carousel_3_ctl_pc:checked ~ #carouesel_list,
#carousel_3_ctl_sp:checked ~ #carouesel_list {
  transform: translateX(-660px);
}

#carousel_4_ctl_pc:checked ~ #carouesel_list,
#carousel_4_ctl_sp:checked ~ #carouesel_list {
  transform: translateX(-990px);
}

#carousel_5_ctl_pc:checked ~ #carouesel_list,
#carousel_5_ctl_sp:checked ~ #carouesel_list {
  transform: translateX(-1320px);
}

.carouesel_img {
  position: relative;
  width: 100%;
}

.carouesel_img img {
  width: auto;
  height: auto;
  max-width: 320px;
  border-bottom: solid 1px #9e9e9e;
}

.carouesel_text {
  width: 100%;
  height: 110px;
}

.tag_new {
  display: block;
  position: absolute;
  top: 0;
  width: 65px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size:14px;
  color: #ffffff;
  background: #ff5a00;
}

.tag {
  position: relative;
  top: 10px;
  margin: 5px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
}

.tag_green {
  color: #43a77c;
  background-color: #bcffe3;
}

.tag_blue {
  color: #4b8aa7;
  background-color: #b3eeff;
}

.tag_red {
  color: #984577;
  background-color: #ffd4fa;
}

.address {
  position: relative;
  top: 9px;
  font-size: 11px;
  color: #9f9f9f;
}

.list_title {
  position: relative;
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0 5px;
  font-size: 14px;
}

.summary {
  margin: 5px 0;
  padding-left: 5px;
  font-size: 12px;
}

/* -----------------------------------------------------------------------------
    interview
----------------------------------------------------------------------------- */
.comment img {
  display: inline-block;
  margin: 10px;
}

.comment span {
  position: relative;
  top: -16px;
}

.comment p {
  background-color: #fffcca!important;
}

/* -----------------------------------------------------------------------------
    guide
----------------------------------------------------------------------------- */

.entry {
  clear: both;
  text-align: center;
}

.logo {
  margin: 30px;
  text-align: center;
}

/* ---------------------------------------------------
 FOOTER
 -------------------------------------------------- */
.footer {
  width: 100%;
  font-size: 12px;
  background-color: #f6aa00;
}
