.sp {
  display: none;
}

.header {
  height: 100px;
}

.title {
  width: 1000px;
  margin: 0 auto;
}

.header h1 {
  padding: 10px 0;
}

.opening_pc {
  float: right;
  width: 300px;
  height: 40px;
  margin: 30px 0;
  padding: 0 25px;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  text-align-last: justify;
  border-radius: 5px;
  background-color: #f6aa00;\
}

.contents {
  clear: both;
}

/* ---------------------------------------------------
 TOP
 -------------------------------------------------- */
.top {
  width: 100%;
  height: 1100px;
  background-image: url('../images/background_dot.png');
}

.top_contents {
  width: 1000px;
  margin: 0 auto;
}

.top_image {
  float: left;
  width: 500px;
  padding: 1rem 0;
}

.top_image img {
	vertical-align: bottom;
}

.top_title {
  height: 80px;
  margin: 5px 0;
  padding: 0;
  font-size: 35px;
  font-family: "UDShinMGoPro";
  color: #ff2687;
}

.top_title strong {
  font-size: 55px;
}

.top_point {
  width: 480px;
  margin: 10px auto;
  padding: 0;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #ff8929;
}

.point_images {
  width: 480px;
  margin: 0 auto;
}
.point_images img {
  margin-bottom: 8px;
}
.point_images img:nth-child(odd) {
  margin-right: 4px;
}

.top_form {
  float: right;
  position: relative;
  width: 500px;
  background-color: #fff;
  border-radius: 20px;
  border: 10px solid #f6aa00;
  box-sizing: border-box;
}

.form_header {
	background-color: #f6aa00;
}

.form_title {
  display: block;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
}

.form_title::before {
  content: url('../images/form.png');
  position: absolute;
  top: -6px;
  left: 67px;
}

.entry_form {
  width: 480px;
  margin: 0 auto;
  padding: 20px 0 30px;
  border-radius: 0 0 15px 15px;
}

.form_basic,
.form_qualifications,
.form_question {
  clear: both;
  position: relative;
  width: 460px;
  margin: 0 10px;
  border-bottom: 1px dotted #000;
}

.form_basic {
	height: 65px;
	padding: 15px 0;
	box-sizing: border-box;
	overflow: hidden;
}

.basic_title {
  display: inline-block;
  margin-top: 10px;
  line-height: 16px;
  font-size: 16px;
  color: #000;
}

.basic_title span {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #666666;
}

.basic_input {
  float: right;
  width: 270px;
  margin: 0;
  padding: 0;
}

.basic_input::before,
.qualifications_title::after {
  content: '必須';
  display: block;
  position: absolute;
  width: 40px;
  height: 23px;
  padding: 2px 0 0;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #ff5a00;
  box-sizing: border-box;
}

.basic_input::before {
  top: 20px;
  left: 140px;
}

.basic_input input {
  width: 100%;
  height: 33px;
  margin: 0;
  padding: 5px;
  border: solid 1px #979797;
  box-sizing: border-box;
  font-size: 1rem;
}

.tel span{
  display: inline-block;
  width: 13px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.tel input {
  width: 70px;
}

.form_select {
	margin-top: -1px;
  width: 270px;
  height: 34px;
}

.form_select span:nth-child(odd) {
  display: inline-block;
  width: 70px;
  height: 100%;
  border: solid 1px #979797;
}

.form_select span:nth-child(odd):after {
  content: "\25BC";
  position: relative;
  top: -31px;
  left: 57px;
  display: inline-block;
  font-size: 9px;
  color: #979797;
}
.form_select.form_area span:after {
	left: 82px;
}

.form_select span:nth-child(even) {
  position: relative;
  display: inline-block;
  top: -30px;
  width: 13px;
  height: 100%;
  margin: 0 1px 0 2px;
  line-height: 40px;
  text-align: center;
}

.form_birth_day span {
	height: 36px;
}

.form_select.form_area span {
	width: 101px;
	height: 36px;
	box-sizing: border-box;
}

.form_birth_day .birth_year span {
	width: 81px;
}

.form_birth_day .birth_moth span {
	width: 70px;
}

.form_birth_day .birth_day span {
	width: 70px;
}

.qualifications_title::after {
  top: 0;
  left: 180px;
}

.qualifications_title {
  margin: 15px 0;
}

.qualifications {
  margin: 20px 0;
}

.qualifications label{
  display: inline-block;
  margin-right: 20px;
}

.question_title {
  margin: 22px 0 10px;
}

.question_title label::after {
  content: '任意';
  display: block;
  position: absolute;
  top: 0;
  right: 100px;
  width: 40px;
  height: 23px;
  padding: 2px 0 0;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #7ba6ff;
  box-sizing: border-box;
}

.question {
  width: 100%;
  height: 77px;
  padding: 5px;
  border: solid 1px #979797;
  box-sizing: border-box;
}

.message {
  position: relative;
  width: 460px;
  margin: 20px 10px;
  border-radius: 5px;
}
.message a {
	color: #000cff;
	text-decoration: none;
	font-weight: bold;
}

.message_neo {
  background-color: #ffecec;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 5px;
}

.submit {
  display: block;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
}

/* -----------------------------------------------------------------------------
    select
----------------------------------------------------------------------------- */
.select_contents {
  width: 990px;
}

#carouesel_list {
  right: -330px;
}
/* ---------------------------------------------------
 INTERVIEW
 -------------------------------------------------- */
.interview {
  padding-bottom: 100px;
  position: relative;
  background-image: url('../images/background_dot.png');
}

.interview_contents {
  width: 950px;
  margin: 30px auto 0 auto;
}

.tab_check {
  display: none;
}

#tab_list {
  width: 762px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

#tab_list li {
  display: inline-block;
  margin: 0 60px;
}

#tab_list li label {
  position: relative;
}

#tab_list li label span {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,.3), -1px 1px 0 rgba(0,0,0,.3), 1px -1px 0 rgba(0,0,0,.3), -1px -1px 0 rgba(0,0,0,.3);
  bottom: 1rem;
  letter-spacing: .15rem;
}

.container {
  margin-top: 50px;
  border: solid 1px #ff8929;
}

.container::before {
  content: '';
  position: absolute;
  top: 315px;
  width: 0px;
  margin: 0 auto;
  border: 40px solid transparent;
  border-bottom-color: #ff8929;
}

.container p {
  margin: 0;
  padding: 10px 10px 20px;
  line-height: 1.75;
  font-size: 16px;
  background-color: #ffffff;
}

#tab_1,
#tab_2 {
  display: none;
}

#tab_1_ctl:checked ~ .container #tab_1,
#tab_2_ctl:checked ~ .container #tab_2 {
  display: block;
}

#tab_1_ctl:checked ~ .container::before {
  right: 380px;
  left: 0;
}

#tab_2_ctl:checked ~ .container::before {
  right: 0;
  left: 380px;
}


/* ---------------------------------------------------
 GUIDE
 -------------------------------------------------- */
.guide {
  position: relative;
}

.flow {
  position: relative;
  width: 1000px;
  margin: 50px auto;
}

.flow div {
  float: left;
  margin-bottom: 50px;
}

.flow div:nth-child(odd) {
  margin-right: 54px;
}

.flow div:first-child:after,
.flow div:nth-child(2):after,
.flow div:last-child::after {
  content: '';
  position: absolute;
  width: 0px;
  margin: 0 auto;
  border: 25px solid transparent;
}

.flow div:first-child:after {
  border-left-color: #f6aa00;
  top: 75px;
  right: 0;
  left: 30px;
}

.flow div:nth-child(2):after {
  border-top-color: #f6aa00;
  top: 210px;
  right: 210px;
}

.flow div:last-child:after {
  border-right-color: #f6aa00;
  top: 330px;
  right: 30px;
  left: 0;
}

.entry {
  clear: both;
  text-align: center;
}

.logo {
  margin: 30px;
  text-align: center;
}

/* -----------------------------------------------------------------------------
    footer
----------------------------------------------------------------------------- */
.footer {
  text-align: center;
  padding: .1rem;
  font-size: .7rem;
}
