.pc {
  display: none;
}

.title {
  margin: 10px;
}

.header h1 {
  width: 65%;
}

.header img {
  width: 100%;
  height: auto;
}

.opening_sp {
  display: inline-block;
  width: 28%;
  margin: 5px 0 0 15px;
}

/* -----------------------------------------------------------------------------
    top
----------------------------------------------------------------------------- */
.top_image img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.sp.select h2, .sp.point h2 {
  font-size: 1.35rem;
  height: 40px;
  line-height: 40px;
}

h2::after {
  border: 10px solid transparent;
  border-top-color: #f6aa00;
}

.sp.select h2::after, .sp.point h2::after {
  top: 40px;
}

/* -----------------------------------------------------------------------------
    select
----------------------------------------------------------------------------- */
.select_contents {
  width: 100%;
  margin: 15px auto;
}

#carouesel_list {
  left: 0;
}

/* -----------------------------------------------------------------------------
    form
----------------------------------------------------------------------------- */

.top_form {
  width: 100%;
  background-color: #efefef;
  overflow: hidden;
}

.form_title {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.35rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #00cb69;
}

.form_title::after {
  content: '';
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  width: 0px;
  margin: 0 auto;
  border: 10px solid transparent;
  border-top-color: #00cb69;
}

#form_step_list {
  width: 148px;
  height: 25px;
  margin: 20px auto 0;
  padding: 0;
  list-style-type: none;
}

#form_step_list li {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 4px;
  line-height: 25px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  background-color: #b6b6b6;
  border-radius: 50px;
}

.on {
  background-color: #ff5a00 !important;
}

.entry_form {
  position: relative;
  width: 400%;
  margin: 0;
  font-size: 0;
}

.form_step_sp {
  display: inline-block;
  position: relative;
  top: 10px;
  width: 25%;
  /*min-height: 300px;*/
  margin: 0;
  vertical-align: top;
}
/*#form_step_4_sp {
  min-height: 430px;
}*/

.form_basic,
.form_qualifications,
.form_message {
  font-size: 16px;
  padding-bottom: 30px;
}

.form_basic {
  width: 95%;
  margin: 0 auto;
}

#form_step2_sp .basic_title::after,
.qualifications_title::after {
  content: '必須';
  display: inline-block;
  position: relative;
  top: -3px;
  right: 10px;
  width: 30px;
  height: 20px;
  margin-left: 10px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  background-color: #ff5a00;
  box-sizing: border-box;
}

.form_basic:nth-child(odd) {
  border-bottom: 1px dotted #000;
}


.basic_title,
.qualifications_title {
  margin: 10px;
  font-size: 20px;
}

.basic_title {
  margin-left: 0;
}

.basic_title span {
  position: relative;
  margin-left: 10px;
  font-size: 12px;
}

.basic_title span::before {
  content: '必須';
  display: inline-block;
  position: relative;
  top: -3px;
  right: 10px;
  width: 30px;
  height: 20px;
  margin-left: 10px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  background-color: #ff5a00;
  box-sizing: border-box;
}

.basic_input {
  display: block;
  width: 100%;
  height: 40px;
}

.basic_input.form_select.area > span {
  width: 33%;
}

.basic_input.form_select.area > span::after {
  right: -87%;
}

.basic_input input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  border: solid 1px #979797;
  box-sizing: border-box;
  font-size: 1rem;
  text-indent: .3rem;
}

.form_step_menu {
  width: 90%;
  margin: 0 auto;
}

.form_back {
  max-width: 20% !important;
}

.form_next {
  margin-left: 10px;
  max-width: 75% !important;
}


.form_step_menu img {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
}

.form_select span:nth-child(odd) {
  display: inline-block;
  width: 25%;
  height: 100%;
  margin: 0;
  border: solid 1px #979797;
}

.form_select span:nth-child(odd):after {
  content: "\25BC";
  position: relative;
  top: -35px;
  right: -82%;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  color: #979797;
}

.form_select span:nth-child(even) {
  position: relative;
  display: inline-block;
  top: -35px;
  width: 5%;
  height: 100%;
  line-height: 40px;
  text-align: center;
}

.tel {
  width: 100%;
  margin: 0 auto;
}

.tel input{
  display: inline-block;
  width: 28%;
}

.tel span {
  display: inline-block;
  width: 2.5%;
}

.qualifications {
  margin: 10px 10px 0 10px;
}

.checkbox {
  display: inline-block;
}

.message {
  margin: 0 20px 20px 20px;
}

.message_neo {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}

.submit {
  width: auto;
  height: auto;
  max-width: 75% !important;
  margin-left: 9px;
}

/* -----------------------------------------------------------------------------
    point
----------------------------------------------------------------------------- */
.point {
  position: relative;
  width: 100%;
  background-color: #f6efdb;
}

.point_images {
  width: 100%;
  margin: 35px 0 0 0;
  text-align: center;
  padding-bottom: 20px;
}

.point_images img {
  display: inline-block;
  width: 46%;
  margin: 1% .5% 0;
}

/* -----------------------------------------------------------------------------
    interview
----------------------------------------------------------------------------- */

.suzuki, .sato {
  margin: 20px 10px;
}

.interview_img {
  width: 100%;
  margin: 0;
  padding-top: 0;
  position: relative;
}

.interview_img img {
  width: 100%;
  height: auto;
  outline: 1px solid #fff;
  outline-offset: -5px;
}

.interview_img span {
  position: absolute;
  left: 13px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,.3), -1px 1px 0 rgba(0,0,0,.3), 1px -1px 0 rgba(0,0,0,.3), -1px -1px 0 rgba(0,0,0,.3);
  letter-spacing: .15rem;
  top: 35px;
}

#tab_1_ctl_sp,
#tab_2_ctl_sp {
  display: none;
}

#tab_1_ctl_sp:checked ~ .interview_text #tab_1_sp,
#tab_1_ctl_sp:checked ~ .interview_text .tab_button #tab_button_1,
#tab_2_ctl_sp:checked ~ .interview_text #tab_2_sp,
#tab_2_ctl_sp:checked ~ .interview_text .tab_button #tab_button_2 {
  display: none;
}

#tab_1_ctl_sp:checked ~ .interview_text #tab_1_on_sp,
#tab_1_ctl_sp:checked ~ .interview_text .tab_button #tab_button_off_1,
#tab_2_ctl_sp:checked ~ .interview_text #tab_2_on_sp,
#tab_2_ctl_sp:checked ~ .interview_text .tab_button #tab_button_off_2 {
  display: block;
}

#tab_1_ctl_sp:checked ~ .interview_text::after,
#tab_2_ctl_sp:checked ~ .interview_text::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0px;
  margin: 0 auto;
  border: 6px solid transparent;
  border-bottom-color: #f6aa00;
}

#tab_1_ctl_sp:checked ~ .interview_text .tab_button::after,
#tab_2_ctl_sp:checked ~ .interview_text .tab_button::after {
  display: none;
}

.interview_text {
  position: relative;
  line-height: 30px;
  font-size: 16px;
  border: solid 1px #f6aa00;
  border-bottom: solid 20px #f6aa00;
}

.interview_text h3 {
  line-height: 1.4;
  height: auto;
  padding: .5rem .3rem;
  width: calc(100% - .6rem);
}

.interview_text h3 span {
  font-size: 1.1rem;
  margin: 0;
}

.tab_off {
  padding: 10px;
}

.tab_on {
  display: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.tab_on p {
  margin: 0;
  padding: .3rem .4rem 20px;
  font-size: 0.9rem;
  line-height: 1.6;
  text-align: justify;
}

.tab_button {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background-color: #59493f;
}

.tab_button::after {
  content: '';
  position: absolute;
  bottom: -20px;
  right: 0;
  left: 0;
  width: 0px;
  margin: 0 auto;
  border: 12px solid transparent;
  border-top-color: #59493f;
}

#tab_button_off_1,
#tab_button_off_2 {
  display: none;
}
.tab_button label {
	display: block;
  font-size: .9rem;
  cursor: pointer;
}
/* -----------------------------------------------------------------------------
    guide
----------------------------------------------------------------------------- */
.flow {
  margin: 35px 0;
  text-align: center;
}

.flow div:nth-child(odd):after,
.flow div:nth-child(2):after {
  content: '';
  position: relative;
  top: 13px;
  right: 0;
  left: 0;
  width: 0px;
  margin: 0 auto;
  border: 25px solid transparent;
  border-top-color: #f6aa00;
}

.step1 img,
.step2 img,
.step3 img,
.step4 img {
  width: auto;
  height: auto;
  max-width: 95%;
  text-align: center;
}

.entry img,
.logo img {
  width: auto;
  height: auto;
  max-width: 90%;
}

.footer {
  width: calc(100% - 2rem);
  font-size: 12px;
  background-color: #f6aa00;
  padding: .5rem 1rem;
  line-height: 1.2;
}
