html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header,
.contents,
.footer {
  width: 100%;
}

.header {
  height: 100px;
  background-color: #ffffff;
}

.title {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  float: left;
  margin: 0;
  padding: 10px 0;
}

.opening {
  float: right;
  width: 300px;
  height: 40px;
  margin: 30px 0;
  padding: 0 25px;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  font-style: 'HiraginoSansPr6N';
  text-align-last: justify;
  border-radius: 5px;
  background-color: #f6aa00;
}

.contents {
  clear: both;
}

h2 {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  background-color: #f6aa00;
}

h2::after {
  content: '';
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  width: 0px;
  margin: 0 auto;
  border: 25px solid transparent;
  border-top-color: #f6aa00;
}

h3 {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  line-height: 50px;
  color: #ffffff;
  background-color: #ff8929;
}

h3 span {
  margin: 0 10px;
}

/* ---------------------------------------------------
 TOP
 -------------------------------------------------- */
.top {
  width: 100%;
  height: 1100px;
  background-image: url('./images/background_dot.png');
}

.top_contents {
  width: 1000px;
  margin: 0 auto;
}

.top_image {
  float: left;
  width: 500px;
}

.top_title {
  height: 80px;
  margin: 5px 0;
  padding: 0;
  font-size: 35px;
  font-family: "UDShinMGoPro";
  color: #ff2687;
}

.top_title strong {
  font-size: 55px;
}

.top_point {
  width: 480px;
  margin: 10px auto;
  padding: 0;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #ff8929;
}

.point_images {
  width: 480px;
  margin: 0 auto;
}

.point_images img:nth-child(odd) {
  margin-right: 4px;
}

.top_form {
  float: right;
  position: relative;
  width: 500px;
  height: 1064px;
  background-color: #f6aa00;
  border-radius: 20px;
}

.form_title {
  display: block;
  height: 60px;
  margin: 0 auto;
  line-height: 75px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.form_title::before {
  content: url('./images/form.png');
  position: absolute;
  top: 5px;
  left: 60px;
}

.entry_form {
  width: 480px;
  height: 980px;
  margin: 15px auto;
  border-radius: 0 0 15px 15px;
  background: #ffffff;
}

.form_basic,
.form_qualifications,
.form_question {
  clear: both;
  position: relative;
  width: 460px;
  margin: 0 10px;
  border-bottom: dotted;
}

.form_basic {
  height: 70px;
}

.basic_title {
  display: inline-block;
  margin-top: 25px;
  line-height: 18px;
  font-size: 18px;
}

.basic_title span {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #666666;
}

.basic_input {
  float: right;
  width: 270px;
  height: 40px;
  margin: 15px 0;
  padding: 0;
}

.basic_input::before,
.qualifications_title::after {
  content: '必須';
  display: block;
  position: absolute;
  width: 40px;
  height: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #ff5a00;
}

.basic_input::before {
  top: 25px;
  left: 140px;
}

.basic_input input {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: solid 1px #979797;
}

.tel span{
  display: inline-block;
  width: 13px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.tel input {
  width: 70px;
}

.form_select {
  width: 270px;
  height: 40px;
}

.form_select span:nth-child(odd) {
  display: inline-block;
  width: 70px;
  height: 100%;
  border: solid 1px #979797;
}

.form_select span:nth-child(odd):after {
  content: "\25BC";
  position: relative;
  top: -30px;
  left: 50px;
  display: inline-block;
  font-size: 12px;
  color: #979797;
}

.form_select span:nth-child(even) {
  position: relative;
  display: inline-block;
  top: -30px;
  width: 13px;
  height: 100%;
  line-height: 40px;
  text-align: center;
}

select {
  position: relative;
  display: inline-block;
  border: solid 1px #979797;
}

select, option {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: none;
  -webkit-appearance: none;
　-moz-appearance: none;
　-ms-appearance: none;
  appearance: none;
}

#check_1,
#check_2,
#check_3,
#check_4,
#check_5 {
  display: none;
}

#check_1:checked ~ .checkbox[for=check_1]::before,
#check_2:checked ~ .checkbox[for=check_2]::before,
#check_3:checked ~ .checkbox[for=check_3]::before,
#check_4:checked ~ .checkbox[for=check_4]::before,
#check_5:checked ~ .checkbox[for=check_5]::before, {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #979797;
}

.checkbox::before{
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border: solid 1px #979797;
}

.qualifications_title::after {
  top: 0;
  left: 180px;
}

.qualifications_title {
  margin: 15px 0;
}

.qualifications {
  margin: 20px 0;
}

.qualifications label{
  display: inline-block;
  margin-right: 20px;
}

.question_title {
  margin: 20px 0;
}

.question_title label::after {
  content: '任意';
  display: block;
  position: absolute;
  top: 0;
  right: 100px;
  width: 40px;
  height: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #7ba6ff;
}

.question {
  width: 450px;
  height: 50px;
  border: solid 1px #979797;
}

.message {
  position: relative;
  width: 460px;
  margin: 20px 10px;
  border-radius: 5px;
}

.message_neo {
  background-color: #ffecec;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 5px;
}

.submit {
  display: block;
  margin: 0 auto;
  padding: 0;
}

/* ---------------------------------------------------
 SELECT
 -------------------------------------------------- */
.select {
  clear: both;
  position: relative;
}

.select_contents {
  width: 990px;
  margin: 50px auto;
  padding: 0;
  overflow: hidden;
}

.carousel_check {
  display: none;
}

#carouesel_list {
  position: relative;
  width: 1660px;
  right: -330px;
  margin: 0;
  padding: 0;
  font-size: 0;
  transition-duration: 1s;
}

#carouesel_list li {
  display: inline-block;
  width: 320px;
  margin: 0 4px;
  border: solid 1px #9e9e9e;
}

#carouesel_bar {
  width: 120px;
  margin: 10px auto;
  padding: 0;
  font-size: 0;
  list-style-type: none;
}

#carouesel_1,
#carouesel_2,
#carouesel_3,
#carouesel_4,
#carouesel_5 {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  text-align: center;
  border-radius: 12px;
  background-color: #ff5a00;
}

#carouesel_bar label {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  background-color: #f6aa00;
}

#carousel_1_ctl:checked ~ #carouesel_bar li label[for="carousel_1_ctl"],
#carousel_2_ctl:checked ~ #carouesel_bar li label[for="carousel_2_ctl"],
#carousel_3_ctl:checked ~ #carouesel_bar li label[for="carousel_3_ctl"],
#carousel_4_ctl:checked ~ #carouesel_bar li label[for="carousel_4_ctl"],
#carousel_5_ctl:checked ~ #carouesel_bar li label[for="carousel_5_ctl"] {
  opacity: 0;
}

#carousel_1_ctl:checked ~ #carouesel_list {
  transform: translateX(0);
}

#carousel_2_ctl:checked ~ #carouesel_list {
  transform: translateX(-330px);
}

#carousel_3_ctl:checked ~ #carouesel_list {
  transform: translateX(-660px);
}

#carousel_4_ctl:checked ~ #carouesel_list {
  transform: translateX(-990px);
}

#carousel_5_ctl:checked ~ #carouesel_list {
  transform: translateX(-1320px);
}

.carouesel_img {
  position: relative;
  width: 100%;
}

.carouesel_img img {
  width: auto;
  height: auto;
  max-width: 320px;
  border-bottom: solid 1px #9e9e9e;
}

.carouesel_text {
  width: 100%;
  height: 110px;
}

.tag_new {
  display: block;
  position: absolute;
  top: 0;
  width: 65px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size:14px;
  color: #ffffff;
  background: #ff5a00;
}

.tag {
  position: relative;
  top: 10px;
  margin: 5px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
}

.tag_green {
  color: #43a77c;
  background-color: #bcffe3;
}

.tag_blue {
  color: #4b8aa7;
  background-color: #b3eeff;
}

.tag_red {
  color: #984577;
  background-color: #ffd4fa;
}

.address {
  position: relative;
  top: 9px;
  font-size: 11px;
  color: #9f9f9f;
}

.list_title {
  position: relative;
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0 5px;
  font-size: 14px;
}

.summary {
  margin: 5px 0;
  padding-left: 5px;
  font-size: 12px;
}

/* ---------------------------------------------------
 INTERVIEW
 -------------------------------------------------- */
.interview {
  padding-bottom: 50px;
  position: relative;
  background-image: url('./images/background_dot.png');
}

.interview_contents {
  width: 950px;
  margin: 30px auto 0 auto;
}

.tab_check {
  display: none;
}

#tab_list {
  width: 762px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

#tab_list li {
  display: inline-block;
  margin: 0 60px;
}

.container {
  margin-top: 50px;
  border: solid 1px #ff8929;
}

.container::before {
  content: '';
  position: absolute;
  top: 315px;
  width: 0px;
  margin: 0 auto;
  border: 40px solid transparent;
  border-bottom-color: #ff8929;
}

.container p {
  margin: 0;
  padding: 0;
  line-height: 1.75;
  font-size: 16px;
  background-color: #ffffff;
}

.comment img {
  display: inline-block;
  margin: 10px;
}

.comment span {
  position: relative;
  top: -16px;
}

.comment p {
  background-color: #fffcca;
}

#tab_1,
#tab_2 {
  display: none;
}

#tab_1_ctl:checked ~ .container #tab_1,
#tab_2_ctl:checked ~ .container #tab_2 {
  display: block;
}

#tab_1_ctl:checked ~ .container::before {
  right: 380px;
  left: 0;
}

#tab_2_ctl:checked ~ .container::before {
  right: 0;
  left: 380px;
}


/* ---------------------------------------------------
 GUIDE
 -------------------------------------------------- */
.guide {
  position: relative;
}

.flow {
  position: relative;
  width: 1000px;
  margin: 50px auto;
}

.flow div {
  float: left;
  margin-bottom: 50px;
}

.flow div:nth-child(odd) {
  margin-right: 54px;
}

.flow div:first-child:after,
.flow div:nth-child(2):after,
.flow div:last-child::after {
  content: '';
  position: absolute;
  width: 0px;
  margin: 0 auto;
  border: 25px solid transparent;
}

.flow div:first-child:after {
  border-left-color: #f6aa00;
  top: 75px;
  right: 0;
  left: 30px;
}

.flow div:nth-child(2):after {
  border-top-color: #f6aa00;
  top: 210px;
  right: 210px;
}

.flow div:last-child:after {
  border-right-color: #f6aa00;
  top: 330px;
  right: 30px;
  left: 0;
}

.entry {
  clear: both;
  text-align: center;
}

.logo {
  margin: 30px;
  text-align: center;
}

/* ---------------------------------------------------
 FOOTER
 -------------------------------------------------- */
.footer {
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: 15px;
  background-color: #f6aa00;
}
